* {
    margin: 0;
    font-family: "Outfit", sans-serif;
  }
  
  body {
    width: 100%;
    
  }
  
  /* #region header */
  header {
    position: fixed;
    width: 96%;
    background-color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
  }
  
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 7.33px;
    width: 213.86px;
    height: 36px;
    color: #ffffff;
    text-decoration: none;
  }
  
  #textLogo {
    width: 186px;
    height: 36px;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23.4628px;
    line-height: 35px;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 512px;
  }
  
  .textMenu {
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: white;
    text-decoration: none;
  }
  
  #contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    width: 320px;
    height: 40px;
  }
  
  #phoneNumber {
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: white;
  }
  
  #telNavBar {
    display: flex;
    justify-content: center;
    gap: 11px;
    padding-top: 5px;
  }
  
  #buttonSession {
    background-color: #515051;
    background-size: contain;
    border-radius: 4px;
    padding: 12px 24px;
    width: 140px;
    height: 50px;
    border: none;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14;
    line-height: 16px;
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  #buyCar {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
  }
  .countProducts {
    /* position: absolute;
      top: 55%; */
    color: #ffffff;
    right: 0;
    background-color: #000000;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .containerCart {
    display: flex;
  }
  .cartHidden {
    display: none;
  }
  .containerProducts {
    position: absolute;
    top: 61px;
    right: 5px;
    background-color: #ffffff;
    width: 600px;
    max-height: 90vh;
    z-index: 1;
    color: #000000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #e3ded7;
    overflow-y: scroll;
  }
  .btnDelete {
    width: 45px;
    height: 45px;
    cursor: pointer;
  }
  .btnDelete:hover {
    stroke: red;
  }
  .cartProduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 30px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    
  }
  .infoProduct {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0.8;
    gap: 1em;
    
  }
  .productsCart {
    display: flex;
  
    justify-content: space-between;
    align-items: center;
    flex: 0.8;
    gap: 1em;
  }
  .cantidadProducto {
    font-weight: 400;
    font-size: 20px;
  }
  
  .tituloProducto {
    font-size: 20px;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  .precioProducto {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
  }
  .totalPrecio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
  }
  .totalPrecio h3 {
    font-size: 20px;
    font-weight: 700;
  }
  .totalPrecio span {
    font-size: 20px;
    font-weight: 900;
  }

  /* novedades */

  #sectionNov {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
    gap: 40px;
    /* height: 100%;
    width: 100%; */
  }
  
  #nov {
    width: 120px;
    height: 28px;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #2a5b45;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row;
    justify-content: center;
    align-items: center; */
    padding: 0px;
    gap: 24px;
    width: 1200px;
    /* height: 391.39px; */
  }
  
  .products > div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    gap: 24px;
    width: 282px;
    height: 391.39px;
    border: 1px solid #e3ded7;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .products > div:hover {
    background: #f7f5f3;
  }
  
  .products > div:hover button {
    background: #2a5b45;
  }
  
  .products > div > a {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    text-decoration: none;
  }
  
  .products > div > p {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
  }
  
  .buttonProducts {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    width: 59px;
    height: 34px;
    background: rgba(42, 91, 69, 0.7);
    border-radius: 4px;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }
  
  .seeAll {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em;
    padding-left: 5em;
    gap: 16px;
    width: 150px;
    height: 24px;
  }
  
  .seeAll > a {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }
  
  .seeAll img {
    cursor: pointer;
  }