* {
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    width: 100%;
}

/* #region header */
header {
    background-color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;

}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 7.33px;
    width: 213.86px;
    height: 36px;
}

#textLogo {
    width: 186px;
    height: 36px;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23.4628px;
    line-height: 35px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 512px;
}

.textMenu {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: white;
    text-decoration: none;
}

#contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    width: 320px;
    height: 40px;
}

#phoneNumber {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: white;
}

#telNavBar {
    display: flex;
    justify-content: center;
    gap: 11px;
    padding-top: 5px;

}

#buttonSession {
    background-color: #515051;
    background-size: contain;
    border-radius: 4px;
    padding: 12px 24px;
    width: 140px;
    height: 50px;
    border: none;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14;
    line-height: 16px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/* #endregion */

/* #region imagen del cafe */
#description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 48px 40px;
    gap: 8px;
    background: rgba(227, 222, 215, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.cup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px 0px 0px 0px;
    gap: 16px;

}

#cupPlant {
    color: #2A5B45;
    width: 588px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

#world {
    width: 588px;
    height: 88px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
    color: #000000;
}

#weWork {
    width: 588px;
    height: 32px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #111827;
}

#buttonOrg {
    width: 168px;
    height: 40px;
    background: #1F1815;
    border-radius: 4px;
    border: none;
    margin-right: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

#buttonBuy {
    width: 137px;
    height: 40px;
    background: #2A5B45;
    border-radius: 4px;
    border: none;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

#boxCupCoffee {
    width: 48%;
}

#cupCoffee {
    width: 100%;
    height: 100%;
}

/* #endregion */

/* #region Condiciones */
#service {
    background-image: url(/images/Background\ coffee.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 147px;
    gap: 24px;
}

#conditions {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

#cardWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 996px;
    height: 232px;
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 316px;
    height: 263px;
    background: #FFFFFF;
    border: 1px solid #F7F5F3;
    box-shadow: 0px 1px 4px rgba(227, 222, 215, 0.8);
    border-radius: 8px;
}

.card img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    width: 64px;
    height: 64px;
    background: #2A5B45;
    border-radius: 20px;
}

.card h3 {
    width: 268px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #2B2A2B;
}

.card p {
    width: 268px;
    height: 48px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #111827;

}

#truck {
    margin-top: 25px;
}

/* #endregion */

/* #region Novedades */

#sectionNov {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 40px;
    height: 603.39px;
}

#nov {
    width: 120px;
    height: 28px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #2A5B45;
}

#products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 1200px;
    height: 391.39px;
}

#products>div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    gap: 24px;
    width: 282px;
    height: 391.39px;
    border: 1px solid #E3DED7;
    border-radius: 8px;
    cursor: pointer;
}

#products>div:hover {
    background: #F7F5F3;
}

#products>div:hover button {
    background: #2A5B45;
}

#products>div>a {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

#products>div>p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

#products>div>button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    width: 59px;
    height: 34px;
    background: rgba(42, 91, 69, 0.7);
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.seeAll {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 150px;
    height: 24px;
}

.seeAll>a {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.seeAll img {
    cursor: pointer;
}

/* #endregion */

/* #region FAQ */
.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 386px;
    gap: 24px;
    background: #2A5B45;
    height: 520px;
}

.faqTittle>h2 {
    height: 28px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.faqContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 668px;

}

#placeOrder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    width: 668px;
    height: 95px;
    background: #FFFFFF;
    border-radius: 10px;
}

#placeOrder div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 439px;
    border-bottom: 2px solid;
    border-color: #E3DED7;
    width: 100%;


}

#placeOrder>div>h3 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: #2B2A2B;
    padding-bottom: 15px;
}

#placeOrder>p {
    display: flex;
    justify-content: center;
    padding-top: 3px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #2B2A2B;
    width: 100%;
}

#lowPrices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    width: 668px;
    height: 110px;
    background: #F7F5F3;
    border-radius: 10px;
}

#lowPrices div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 0px;
    border-bottom: 2px solid;
    border-color: #E3DED7;
    width: 100%;
}

#lowPrices>div>h3 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: #2B2A2B;
    width: 100%;
    padding-bottom: 10px;
}

#lowPrices>p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #2B2A2B;
    padding-top: 3px;
    width: 620px;
}

#sendCoffee {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    gap: 16px;
    width: 668px;
    height: 32px;
    background: #F7F5F3;
    border-radius: 10px;
}

#sendCoffee h3 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: #2B2A2B;
}

#questions {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    height: 24px;
}

#questions a {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

#questions img {
    cursor: pointer;
}

/* #endregion */

/* #region shopCoffee */
#shop {
    /* height: 480px; */
    background: #F7F5F3
}

#shopCoffe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 24px;
    padding: 44.61px 40px 45.39px 40px;
}

#tryIt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 457px;
    height: 116px;
}

#tryIt>h2 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #2A5B45;
}

#tryIt>p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #111827;
}

#tryIt>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

#tryIt>div>a {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #000000;
}

#imgCoffeeShop {
    width: 48%;
}

#imgCoffeeShop img {
    width: 100%;
    height: 100%;
}

#arrowNov {
    cursor: pointer;
}

/* #endregion */

/* #region Formulario */
#containerTwoTone {
    padding: 0px 40px;
    height: 552px;
    background: #E3DED7;

}

#subContainerTwoTone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    height: 552px;
    background: #E3DED7;
    opacity: 0.9;


}

#contacSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 50%;
    height: 320px;

}

#withUs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    height: 68px;

}

#withUs>h3 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #111827;
}

#withUs>p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6B7280;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 32px;
    gap: 24px;
    height: 220px;
}

.paragraph {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6B7280;
}

#adress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    /* width: 344px; */
    height: 27px
}

#emailPhone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    
    height: 60px;
}

#phone {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 12px;
    
    height: 24px;
}

#email {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 12px;
    height: 24px;
}

#content>p>a {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

#formSection {
    width: 50%;
}

#formSection form {
    display: flex;
    flex-direction: column;
    padding: 32px 32px 32px 48px;
    height: 488px;
    background: #FFFFFF;

}

#inpName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}

#inpName label {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #374151
}

#nameArea {
    padding: 9px 13px;
    width: 90%;
    height: 15px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

#nameArea:focus {
    outline-color: #3F8F6B;
}

#inpEmail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 24px;
    gap: 4px;
}

#inpEmail label {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #374151
}

#emailArea {
    padding: 9px 13px;
    width: 90%;
    height: 15px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

#emailArea:focus {
    outline-color: #3F8F6B;
}

#selectArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 24px;
    gap: 4px;
}

#selectArea label {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #374151;
}

#telInp {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    width: 93.5%;
}

#telInp:focus-within {
    outline: auto #3F8F6B;
}

#telInp select {
    padding: 9px 13px;
    gap: 4px;
    width: 68px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 6px;
    border: none;
}

#telInp select:focus {
    outline: none;
}

#telInp>select {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 405px;
    font-size: 14px;
    line-height: 16px;
    color: #111827;
}

#telInp input {
    padding: 9px 13px;
    width: 100%;
    height: 15px;
    background: #FFFFFF;
    border-radius: 6px;
    border: none;
}

#telInp input:focus {
    outline: none;
}

#textArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}

#textArea textarea:focus {
    outline-color: #3F8F6B;
}

#textArea p {
    height: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #374151;
    padding-top: 20px;
}

#textArea textarea {
    box-sizing: border-box;
    width: 496px;
    height: 122px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    width: 93.5%;
}

#textArea>textarea {
    padding: 12px 22px 22px 18px;
}

#policy {
    padding-top: 24px;
    padding-bottom: 28px;
    gap: 12px;
}

#policy label {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #374151;
}

#policy>label>a {
    color: #000000;
}

#checkbox {
    accent-color: #2A5B45;
}

#sendButton {
    color: #FFFFFF;
    gap: 8px;
    width: 90px;
    height: 40px;
    background: #2A5B45;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

/* #endregion */

/* #region Footer */
footer {
    background: #1F1815;
}

#terminos {
    display: flex;
    flex-direction: column;
    padding: 28px 40px 37px 40px;
    gap: 16px;
}

#logoFooter {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 23.4628px;
    line-height: 35px;
    color: #FFFFFF;
}

#storeSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#helpSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

#helpSection>h3 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

#telfButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;
    width: 182px;
    height: 48px;
    background: #515051;
    border-radius: 4px;
    border: none;
}

#telfButton>a {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 4px;
}

#emailButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;
    width: 232px;
    height: 48px;
    background: #515051;
    border-radius: 4px;
    border: none;
}

#emailButton>a {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 3px;
    padding-top: 2px;
}

#emailButton>img {
    padding-top: 2px;
}

#subscription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    right: -1%;
    gap: 16px;
}

#subscription a {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

#cookies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    right: 21%;
    padding-bottom: 68px;
    gap: 16px;
}

#cookies a {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

#rightsReserved {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2B2A2B;
    height: 40px;
}

#rightsReserved a {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

/* #endregion */