* {
    margin: 0;
    font-family: "Outfit", sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../images/fondoTienda2.jpg);
    background-size: cover;
    
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50em;
    
  }
  h1 {
    margin-top: 0;
  }
  p {
    font-size: 16px;
    line-height: 1.6;
  }
  .contact-info {
    margin-top: 20px;
  }

  button {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: dodgerblue;
    color: white;
    border-radius: 4px;
   }
   
   button:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
   }
   
   button:active {
    transform: translate(0em, 0.2em);
   }